<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="contact-title">Sign Up</h2>
      </div>
      <div class="col-lg-12">
        <%= form_for(resource, as: resource_name, url:
        registration_path(resource_name), class: "form-contact contact_form") do
        |f| %> <%= render "devise/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <%= f.text_field :first_name, autofocus: true, autocomplete:
              "off", class: "form-control w-100 valid", placeholder: "First Name" %>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <%= f.text_field :last_name, autofocus: true, autocomplete: "off",
              class: "form-control w-100 valid", placeholder: "Last Name" %>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email",
              class: "form-control w-100 valid", placeholder: "Email" %>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %> <%= f.password_field :password, autocomplete: "off",
              class: "form-control w-100 valid", placeholder: "**********" %>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off",
              class: "form-control w-100 valid", placeholder: "***********" %>
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <%= f.submit "Sign Up", class: "button button-contactForm boxed-btn"
          %>
        </div>
        <div class="form-group"><%= render "devise/shared/links" %></div>
        <% end %>
      </div>
    </div>
  </div>
</section>
