<% content_for :slider do %>
  <div class="slider-area">
    <!-- Mobile Menu -->
    <div class="slider-active">
      <div class="single-slider slider-height d-flex align-items-center" data-background="<%= asset_url("img/hero/h1_hero.jpg") %>">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-9 col-md-10">
              <div class="hero__caption">
                <h1>Find the most exciting startup jobs</h1>
              </div>
            </div>
          </div>
          <!-- Search Box -->
          <div class="row">
            <div class="col-xl-12">
              <!-- form -->
              <%= form_tag search_jobs_path, method: "get", class: "search-box" do %>
                <div class="select-form">
                  <div class="select-itms">
                    <%= select_tag :country, options_for_select(UserJobSearchParameter::COUNTRY, "India"), class: "form-select input-select-style" %>
                  </div>
                </div>
                <div class="input-form city-country">
                  <%= text_field_tag :q, "", placeholder: "Job Tittle: Software Engineer" %>
                  <%= text_field_tag :location, "", placeholder: "City: Indore" %>
                </div>
                <div class="search-form">
                  <%= submit_tag "Find job", class: "submit-btn" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- Section Tittle -->
<div class="row">
  <div class="col-lg-12">
    <div class="section-tittle text-center">
      <span>Recent search jobs</span>
      <h2>Get your job</h2>
    </div>
  </div>
</div>
<div class="job-listing-area pt-120 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <!-- Featured_job_start -->
        <section class="featured-job-area">
          <div class="container">
            <% if @jobs.any? %>
              <% @jobs.each do |job| %>
                <% detected_extensions = eval(job.detected_extensions[0]) %>
                <div class="single-job-items mb-30">
                  <div class="job-items">
                    <div class="company-img">
                      <a href="#"><img src="<%= job.thumbnail %>" alt=""></a>
                    </div>
                    <div class="job-tittle job-tittle2">
                      <a href="#">
                        <h4><%= job.title %></h4>
                      </a>
                      <ul>
                        <li><%= job.company_name %>></li>
                        <li><i class="fas fa-map-marker-alt"></i><%= job.location %></li>
                      </ul>
                    </div>
                  </div>
                  <div class="items-link items-link2 f-right">
                    <a href="#"><%= detected_extensions[:schedule_type] %></a>
                    <span><%= detected_extensions[:posted_at] %></span>
                  </div>
                </div>
              <% end %>
            <% else %>
              No Record Found!
            <% end %>
          </div>
        </section>
        <!-- Featured_job_end -->
      </div>
    </div>
  </div>
</div>
